<!DOCTYPE html>
<html lang="ja">
  <head>
    <%- include('../views/partials/head'); %>
  </head>
  <body>
    <header><%- include('../views/partials/headerLogin'); %></header>
    <span id="append"></span>
    <% messages.forEach((message, i) => { %>
    <table align="center" id="bord">
      <tr>
        <td style="width: 1008px">タイトル: <%= message.dataValues.title %></td>
      </tr>
      <tr>
        <td tyle="width: 1008px">コンテント: <%= message.dataValues.content %> </td>
      </tr>
      <tr>
        <td tyle="width: 1008px" >投稿者:<%= message.user.name %></td>
      </tr>
      <tr id ="message<%=message.dataValues.id%>">
        <% if(""==likes[i].likes.filter(function(like){ return like.dataValues.id === user.id; })){ %>
          <td id="heart<%=message.dataValues.id%>"><i id="<%=message.dataValues.id%>" value="<%= likes[i].likes.length %>" class="far fa-heart"><%= likes[i].likes.length %></i></td>
        <% } else {%>
          <td id="heart<%=message.dataValues.id%>"><i id="<%=message.dataValues.id%>" value="<%= likes[i].likes.length %>" class="fas fa-heart"><%= likes[i].likes.length %></i></td>
        <% } %>
      </tr>
      <% if(user.id === message.dataValues.userId) { %>
        <tr>
          <td><a href="/messages/<%=message.dataValues.id%>">編集</a></td>
          <td><a href="/messages/<%=message.dataValues.id%>/delete">削除</a></td>
        </tr>
      <% } %>
    </table>
    <% }) %>
  </body>
  <%- include('../views/partials/script'); %>
</html>
